[Unit]
Description=SEU-WLAN Auto Login
After=network.target

[Service]
Type=simple
ExecStart=/opt/seu-autologin/seu-autologin.sh
WorkingDirectory=/opt/seu-autologin/
Restart=always
 
[Install]
WantedBy=multi-user.target
